.gallery {
	margin-top: 60px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
}

.item {
	position: relative;
	padding: 0 5px;
	margin-bottom: 10px;

	img {
		display: block;
		height: 150px;
		box-sizing: border-box;
	}

	&__remove {
		position: absolute;
		right: 10px;
		top: 5px;
		outline: none;
		border: solid 1px #000;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		background: #fff;
		opacity: 0;
		transition: 0.25s;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 20%;
			top: 50%;
			width: 60%;
			height: 1px;
			background: #000;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	&.loading {
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			left: 5px;
			right: 5px;
			top: 0;
			height: 100%;
			background: #dfdfdf;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 50%;
			height: 100%;
			background: #fff;
			opacity: 0.5;
			animation: placehodler 1s infinite;
		}

		.item__remove {
			display: none;
		}
	}

	&:hover &__remove {
		opacity: 1;
	}
}

@keyframes placehodler {
	0% {
		transform: translatex(-100%);
	}
	50% {
		transform: translatex(200%);
	}
	100% {
		transform: translatex(200%);
	}
}